<?xml version="1.0"?>
<config>
    <modules>
        <Taras_NoFrills>
            <version>0.1.0</version>
        </Taras_NoFrills>
    </modules>
    <global>
        <models>
            <taras_nofrills>
                <class>Taras_NoFrills_Model</class>
                <resourceModel>taras_nofrills_resource</resourceModel>
            </taras_nofrills>
            <taras_nofrills_resource>
                <class>Taras_NoFrills_Model_Resource</class>
            </taras_nofrills_resource>
        </models>
        <blocks>
            <taras_nofrills>
                <class>Taras_NoFrills_Block</class>
            </taras_nofrills>
        </blocks>
        <helpers>
            <taras_nofrills>
                <class>Taras_NoFrills_Helper</class>
            </taras_nofrills>
        </helpers>
    </global>
    <frontend>
        <routers>
            <taras_nofrills>
                <use>standard</use>
                <args>
                    <module>Taras_NoFrills</module>
                    <frontName>taras-nofrills</frontName>
                </args>
            </taras_nofrills>
        </routers>
    </frontend>
</config>